
{% extends "servicerWebsite/base.html" %}
{% load crispy_forms_tags %}

{% comment %} https://www.geeksforgeeks.org/django-sign-up-and-login-with-confirmation-email-python/ {% endcomment %}
{% block title %}Contact{% endblock title %}
{% block content %}

<div class="container">
    <div class="block">
      <div class="card involved-card" id="about-card">
        <div class="card-content content is-fluid">
          <h3 class="subtitle">How to contact us:</h3>
          <p>
            Please don't.  Unless we have won the grand prize.
          </p>
        </div>
    </div>
</div>

{% endblock content %}
