
{% extends "servicerWebsite/base.html" %}
{% load crispy_forms_tags %}

{% comment %} https://www.geeksforgeeks.org/django-sign-up-and-login-with-confirmation-email-python/ {% endcomment %}
{% block title %}Log into Servicer{% endblock title %}
{% block content %}
 
<div class="container narrow">
    <form class="box" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        {{ form|crispy}}
    </fieldset>
    <button style="margin-top: 10px" class="button"><span class="glyphicon glyphicon-log-in"></span>   login</button>
    </center>
    <br/>
    <sub style="text-align: left;">
        <a href="{% url "register" %}"
            style="text-decoration: none; color: blue; padding:2%; cursor:pointer; margin-right:2%;">
            Don't have account? Sign up
        </a>
    </sub>
  </form>
</center>
{% endblock content %}
