{% extends "servicerWebsite/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Job <em>{{ category }} </em> for <em>{{ username }}</em> has been marked as <em>Complete</em>{% endblock %}


{% block content %}

<div class="container narrow">
    <div class="block">
        <a href="/">
            <button class="button is-fullwidth redirect-button">
                Return to Home
            </button>
        </a>
    </div>
    
    <section class="hero is-info">
        <div class="hero-body">
            <p class="title">Feedback Form</p>
            <p class="subtitle">We'd appreciate if you leave feedback for user {{ user_id }}</p>
        </div>
    </section>

    <form action="{% url 'completed' %}" class="box" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy}}
        </fieldset>
        <button style="margin-top: 10px" class="button is-primary"><span class="glyphicon glyphicon-log-in"></span>Submit Feedback</button>
        </center>
    </form>
</center>

{% endblock %}