

{% extends "servicerWebsite/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Register for Servicer{% endblock title %}
{% comment %} https://www.geeksforgeeks.org/django-sign-up-and-login-with-confirmation-email-python/ {% endcomment %}

{% block content %}
 
<div class="container narrow">
  <form class="box" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
    <center>
      <button class="button" style="margin-top: 10px" type="submit"><span class="glyphicon glyphicon-check"></span>   sign up</button>
    </center>
    <br />
    <sub><a href="{% url "login" %}" style="text-decoration: none; color: blue; padding:3%; cursor:pointer;">Already have an account?</a></sub>
  </form>
</div>
{% endblock content %}
