
{% extends "servicerWebsite/base.html" %}
{% load crispy_forms_tags %}

{% comment %} https://www.geeksforgeeks.org/django-sign-up-and-login-with-confirmation-email-python/ {% endcomment %}
{% block title %}Terms of Service{% endblock title %}
{% block content %}
 
<div class="container">
    <div class="block">
      <div class="card involved-card" id="about-card">
        <div class="card-content content is-fluid">
          <p>
            <b>An introduction and how the terms may change.</b> <br>
                Our Terms of service may change at any time<br>
            <b>Privacy Policy.</b><br>
                We will not share your private information.<br>
            <b>Rules for user behavior.</b><br>
                Please do not do anything illegal.<br>
            <b>Copyright rules.</b><br>
                We have no copyright and have not violated any copyrights.<br>
            <b>Limitations on your liability and disclaimers.</b><br>
                Our disclaimer is that we assume no liability with respect to how this website is used.<br>
            <b>Payment and refund details.</b><br>
                No payments, therefore no refunds.<br>
            <b>How to settle disagreements.</b><br>
                There shall be no disagreements.<br>
            <b>Your contact information.</b><br>
                Not shared due to privacy concerns.
          </p>
        </div>
    </div>
</div>

{% endblock content %}
